

.titlepage {

	text-align: center;
    padding-bottom: 5px;

}

 .titlepage h2 {
	font-weight: 50;
	line-height: 70px;
	font-size: 40px;
	color: #080404;
}
.cur {
	color: #ad2100;
	font-weight: 50;
}
.cards{
    background-color: #eeebeb;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 50px;
    grid-gap:50px;
}
.card{

    background-color: #242427;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0,0,0,0.18);
}
.card:hover{
    transform: scale(1.025);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.container1{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container1:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 18px 18px 0 0;
    opacity: 0.7;
}
.card1>.container1:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card2>.container1:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card3>.container1:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.card4>.container1:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}
.card5>.container1:after{
    background-image: linear-gradient(
        135deg,
        #2bdce3,
        #42ffdb
    );
}
.card6>.container1:after{
    background-image: linear-gradient(
        135deg,
        #ffab1d,
        #f8501c
    );
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
#main1{
    padding-top: 100px;
}
